# Binaries
bin
obj
lib

# Data files and Sublime project.
*.sublime-workspace
cachegrind.out.*
callgrind.out.*
cg_annotated.*
data_*.txt
errlog.txt
results/*
*.dat
*.dat.1

# R Studio files
.RData
.Rhistory

*.results
*.png
*.pdf
*.out
*.txt
*.bz2
*.pyc
