# Binaries
bin
obj
lib

# Data files and Sublime project.
*.mp4
*.sublime-workspace
cachegrind.out.*
callgrind.out.*
cg_annotated.*
data_*.txt
errlog.txt
results/*
*.dat
*.dat.1
Makefile.neptuno

# R Studio files
.RData
.Rhistory

*.results
*.png
*.pdf
*.out
*.txt
*.bz2
*.pyc
copy_results
parse_results
transfer_compile
save_results
plot
GKPoints.nb
Caso_59.csv

datasets
